* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Abril Fatface", cursive;
  background-color: #f0f2f3;
  overflow-x: hidden;
  user-select: none;
}

/*------------------------------------------------------------------------ navigation bar style */
nav {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: fixed;
  height: 70px;
  z-index: 5;
  background-color: transparent;
}

nav > .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px 30px;
  background-color: #f0f2f3;
}

nav > .logo-container > .logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

nav > .logo-container > .logo > img {
  height: 28px;
}

nav > .logo-container > .menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav > .logo-container > .menu-button > .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28px;
  width: 33px;
  margin-right: 20px;
}

nav > .logo-container > .menu-button > .menu-icon > div {
  width: 27px;
  height: 5px;
  background-color: #000000;
  transition: all 0.25s ease-in-out;
}

nav > .logo-container > .menu-button > .menu-icon > .menu-line3 {
  width: 20px;
}

nav > .logo-container > .menu-button:hover > .menu-icon > .menu-line1 {
  width: 33px;
}

nav > .logo-container > .menu-button:hover > .menu-icon > .menu-line2 {
  transition-delay: 0.15s;
  width: 33px;
}

nav > .logo-container > .menu-button:hover > .menu-icon > .menu-line3 {
  transition-delay: 0.3s;
  width: 33px;
}

nav > .logo-container > .menu-button > .menu-name {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 13px;
  color: #000000;
}

nav > .follow-links-container {
  padding: 20px 30px;
}

nav > .follow-links-container > .follow-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .follow-links-container > .follow-links > .follow-name {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
}

nav > .follow-links-container > .follow-links > .follow-line {
  width: 70px;
  height: 2px;
  background-color: black;
  margin-right: 15px;
}

nav > .follow-links-container > .follow-links > .follow-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .follow-links-container > .follow-links > .follow-icons > div {
  display: flex;
  justify-content: center;
  width: 25px;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

nav > .follow-links-container > .follow-links > .follow-icons > div::before {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0px;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: black;
}

nav
  > .follow-links-container
  > .follow-links
  > .follow-icons
  > div:hover::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: black;
}

nav > .follow-links-container > .follow-links > .follow-icons > div > img {
  height: 15px;
}

nav > .follow-links-container > .follow-links > .user-line {
  height: 20px;
  width: 1px;
  background-color: rgb(37, 37, 37);
  margin-right: 25px;
}

nav > .follow-links-container > .follow-links > a {
  text-decoration: none;
}

nav > .follow-links-container > .follow-links > a > .join-us {
  padding: 7px 15px;
  border: 2px solid #000000;
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 11px;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav > .follow-links-container > .follow-links > a > .join-us:hover {
  background-color: #000000;
  color: #f0f2f3;
}

/*------------------------------------------------------------------------ movie slides style */
.content {
  position: relative;
}

.content > .menu {
  z-index: 3;
  position: fixed;
  height: 100%;
  width: 59.97%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  transform: translateX(-100%);
}

.content > .menu > .menu-container {
  margin-top: 70px;
  height: 90%;
  width: 75%;
}

.content > .menu > .menu-container > .menu-items {
  display: flex;
  justify-content: space-between;
}

.content > .menu > .menu-container > .menu-items > div > div {
  margin: 20px 0px 80px 0px;
  position: relative;
}

.content > .menu > .menu-container > .menu-items > div > div::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 0;
  bottom: -20px;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s ease-in-out;
}

.content > .menu > .menu-container > .menu-items > div > div:hover::before {
  width: 100px;
}

.content > .menu > .menu-container > .menu-items > div > div > a {
  text-decoration: none;
  color: #000000;
}

.content
  > .menu
  > .menu-container
  > .menu-items
  > div
  > div
  > a
  > div:nth-child(1) {
  font-size: 60px;
  display: flex;
}

.content
  > .menu
  > .menu-container
  > .menu-items
  > div
  > div
  > a
  > div:nth-child(1)
  > div {
  font-family: "Prompt", sans-serif;
  font-size: 10px;
  font-weight: 600;
  writing-mode: vertical-lr;
  padding: 10px;
}

.content
  > .menu
  > .menu-container
  > .menu-items
  > div
  > div
  > a
  > div:nth-child(2) {
  font-family: "Prompt", sans-serif;
  font-size: 9px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-left: 20px;
}

.content > .menu > .menu-container > .footer {
  display: flex;
  justify-content: flex-start;
}

.content > .menu > .menu-container > .footer > div {
  margin-right: 100px;
}

.content > .menu > .menu-container > .footer > div > div {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

.content > .menu > .menu-container > .footer > div > ul {
  list-style: none;
  margin-top: 20px;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
}

.content > .menu > .menu-container > .footer > div > ul > li {
  cursor: pointer;
  margin: 5px 0px;
}

.content > .menu > .menu-container > .footer > div > ul > li:hover {
  font-weight: 500;
}

.content > .menu > .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > .menu > .close-button > .material-icons-outlined {
  font-family: "Material Icons";
  font-size: 50px;
  padding: 30px;
  cursor: pointer;
}

.content > .menu > .close-button > .material-icons-outlined:hover {
  background-color: #e4e4e4;
}

.showMenu {
  animation-name: showMenu;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hideMenu {
  animation-name: hideMenu;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.content > .movie-slides {
  position: relative;
  height: 100vh;
}

.content > .movie-slides > .trailer-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content > .movie-slides > .trailer-container > .movie-trailer {
  width: 100vw;
  height: 56.25vw;
}

.content > .movie-slides > .movie-container {
  position: relative;
  display: flex;
  justify-content: flex-end;
}

.content > .movie-slides > .movie-container > .add-review-form {
  z-index: 6;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #f0f2f32d;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-100%);
}

.showModal {
  animation-name: showModal;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showModal {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.hideModal {
  animation-name: hideModal;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hideModal {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal {
  width: 450px;
  height: 500px;
  background-color: #ffffff;
  padding: 20px;
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal
  > .heading {
  font-size: 60px;
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal
  > .form-container
  > form {
  display: flex;
  flex-direction: column;
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal
  > .form-container
  > form
  > input {
  height: 60px;
  border: 3px solid #000000;
  background-color: #ffffff;
  padding: 0px 20px;
  margin: 10px 0px;
  outline: none;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 13px;
  letter-spacing: 1px;
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal
  > .form-container
  > form
  > textarea {
  height: 150px;
  border: 3px solid #000000;
  background-color: #ffffff;
  padding: 20px 20px;
  margin: 10px 0px;
  outline: none;
  font-family: "Prompt", sans-serif;
  font-weight: 600;
  color: #000000;
  font-size: 13px;
  letter-spacing: 1px;
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal
  > .form-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal
  > .form-button
  > .material-icons-outlined {
  font-family: "Material Icons";
  font-size: 40px;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}

.content
  > .movie-slides
  > .movie-container
  > .add-review-form
  > .add-review-modal
  > .form-button
  > .material-icons-outlined:hover {
  background-color: #e4e4e4;
}

.content > .movie-slides > .movie-container > .watch-trailer {
  display: flex;
  flex-direction: column;
  width: 35%;
  padding: 300px 0px 0px 100px;
  color: #f0f2f3;
  user-select: none;
}

.content
  > .movie-slides
  > .movie-container
  > .watch-trailer
  > div:nth-child(1) {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
}

.content
  > .movie-slides
  > .movie-container
  > .watch-trailer
  > div:nth-child(2) {
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.content
  > .movie-slides
  > .movie-container
  > .watch-trailer
  > div:nth-child(2)
  > div {
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid rgb(255, 255, 255);
  margin: 0px 0px 0px 70px;
}

.content > .movie-slides > .movie-container > .movie-content {
  background-color: #f0f2f3;
  width: 65%;
  position: relative;
  padding: 100px;
  transform: translateX(100%);
}

.content > .movie-slides > .movie-container > .movie-content::before {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  left: 100px;
  bottom: 0;
  width: 45%;
  border-right: 1px solid #d8d8d8;
  border-left: 1px solid #d8d8d8;
}

.content > .movie-slides > .movie-container > .movie-content::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 100px;
  width: 30%;
  border-left: 1px solid #d8d8d8;
  border-right: 1px solid #d8d8d8;
}

.showMovieDetails {
  animation-name: showMovieDetails;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes showMovieDetails {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}

.hideMovieDetails {
  animation-name: hideMovieDetails;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes hideMovieDetails {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.movie-content > .movie-heading {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.movie-content > .movie-heading > .movie-name > .movie-name-heading {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 10px;
  margin-bottom: 10px;
}

.movie-content > .movie-heading > .movie-name > .movie-name-text {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 60px;
  color: #202020;
}

.movie-content > .movie-heading > .creator-name > .creator-name-heading {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 10px;
  margin-bottom: 10px;
}

.movie-content > .movie-heading > .creator-name > .creator-name-text {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 20px;
}

.movie-content > .movie-description-container {
  z-index: 2;
  position: relative;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.movie-content > .movie-description-container > .container1 {
  width: 56.5%;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-description
  > .movie-description-heading {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 10px;
  margin-bottom: 30px;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-description
  > .movie-description-text {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  letter-spacing: 1px;
}

.movie-content > .movie-description-container > .container1 > .movie-reviews {
  margin-top: 60px;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-container
  > .review-heading {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 10px;
  margin-bottom: 30px;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-container
  > .add-review {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 10px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: 2px solid black;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-container
  > .add-review:hover {
  background-color: black;
  color: #f0f2f3;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div {
  margin: 30px 0px;
  padding: 20px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .review-content-heading {
  display: flex;
  justify-content: space-between;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .review-content-heading
  > div
  > div:nth-child(1) {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 8px;
  margin-bottom: 10px;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .review-content-heading
  > .review-content-name
  > .review-content-name-text {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .review-content-heading
  > .review-content-rating
  > .review-content-rating-text
  > .material-icons-outlined {
  font-family: "Material Icons";
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .review-content-text {
  font-family: "Prompt", sans-serif;
  font-weight: 300;
  font-size: 13px;
  margin: 20px 0px;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .date-time {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  margin: 20px 0px;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .date-time
  > .likes {
  display: flex;
  align-items: center;
}

.movie-content
  > .movie-description-container
  > .container1
  > .movie-reviews
  > .review-content
  > div
  > .date-time
  > .likes
  > .material-icons-outlined {
  font-family: "Material Icons";
  font-size: 20px;
  margin: 0px 10px;
  cursor: pointer;
}

.movie-content > .movie-description-container > .container2 {
  width: 37.8%;
}

.movie-content
  > .movie-description-container
  > .container2
  > .cast-container
  > .cast-heading {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 10px;
  margin-bottom: 30px;
}

.movie-content
  > .movie-description-container
  > .container2
  > .cast-container
  > .cast-name
  > div {
  padding: 20px 5px;
  font-family: "Prompt", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 12px;
  margin: 20px 0px;
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
}
