* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Abril Fatface", cursive;
  background-color: #f0f2f3;
  overflow-x: hidden;
  user-select: none;
}

/*------------------------------------------------------------------------ navigation bar style */
nav {
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  position: absolute;
  height: 70px;
  z-index: 5;
  background-color: transparent;
}

nav > .logo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px 30px;
}

nav > .logo-container > .logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

nav > .logo-container > .logo > img {
  height: 28px;
}

nav > .logo-container > .menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

nav > .logo-container > .menu-button > .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 28px;
  width: 33px;
  margin-right: 20px;
}

nav > .logo-container > .menu-button > .menu-icon > div {
  width: 27px;
  height: 5px;
  background-color: #000000;
  transition: all 0.25s ease-in-out;
}

nav > .logo-container > .menu-button > .menu-icon > .menu-line3 {
  width: 20px;
}

nav > .logo-container > .menu-button:hover > .menu-icon > .menu-line1 {
  width: 33px;
}

nav > .logo-container > .menu-button:hover > .menu-icon > .menu-line2 {
  transition-delay: 0.15s;
  width: 33px;
}

nav > .logo-container > .menu-button:hover > .menu-icon > .menu-line3 {
  transition-delay: 0.3s;
  width: 33px;
}

nav > .logo-container > .menu-button > .menu-name {
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 13px;
  color: #000000;
}

nav > .follow-links-container {
  padding: 20px 30px;
}

nav > .follow-links-container > .follow-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .follow-links-container > .follow-links > .follow-name {
  font-family: "Prompt", sans-serif;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
}

nav > .follow-links-container > .follow-links > .follow-line {
  width: 70px;
  height: 2px;
  background-color: black;
  margin-right: 15px;
}

nav > .follow-links-container > .follow-links > .follow-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > .follow-links-container > .follow-links > .follow-icons > div {
  display: flex;
  justify-content: center;
  width: 25px;
  margin-right: 25px;
  position: relative;
  cursor: pointer;
}

nav > .follow-links-container > .follow-links > .follow-icons > div::before {
  transition: all 0.3s ease-in-out;
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0px;
  left: 0px;
  width: 0px;
  height: 2px;
  background-color: black;
}

nav
  > .follow-links-container
  > .follow-links
  > .follow-icons
  > div:hover::before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: black;
}

nav > .follow-links-container > .follow-links > .follow-icons > div > img {
  height: 15px;
}

nav > .follow-links-container > .follow-links > .user-line {
  height: 20px;
  width: 1px;
  background-color: rgb(37, 37, 37);
  margin-right: 25px;
}

nav > .follow-links-container > .follow-links > a {
  text-decoration: none;
}

nav > .follow-links-container > .follow-links > a > .join-us {
  padding: 7px 15px;
  border: 2px solid #000000;
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 11px;
  background-color: #f0f2f3;
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

nav > .follow-links-container > .follow-links > a > .join-us:hover {
  background-color: #000000;
  color: #f0f2f3;
}

/*------------------------------------------------------------------------ movie slides style */
.content {
  position: relative;
  height: 100vh;
}

.content > .menu {
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 59.97%;
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  transform: translateX(-100%);
}

.content > .menu > .menu-container {
  margin-top: 70px;
  height: 90%;
  width: 75%;
}

.content > .menu > .menu-container > .menu-items {
  display: flex;
  justify-content: space-between;
}

.content > .menu > .menu-container > .menu-items > div > div {
  margin: 20px 0px 80px 0px;
  position: relative;
}

.content > .menu > .menu-container > .menu-items > div > div::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 0;
  bottom: -20px;
  height: 2px;
  background-color: #000000;
  transition: all 0.2s ease-in-out;
}

.content > .menu > .menu-container > .menu-items > div > div:hover::before {
  width: 100px;
}

.content > .menu > .menu-container > .menu-items > div > div > a {
  text-decoration: none;
  color: #000000;
}

.content
  > .menu
  > .menu-container
  > .menu-items
  > div
  > div
  > a
  > div:nth-child(1) {
  font-size: 60px;
  display: flex;
}

.content
  > .menu
  > .menu-container
  > .menu-items
  > div
  > div
  > a
  > div:nth-child(1)
  > div {
  font-family: "Prompt", sans-serif;
  font-size: 10px;
  font-weight: 600;
  writing-mode: vertical-lr;
  padding: 10px;
}

.content
  > .menu
  > .menu-container
  > .menu-items
  > div
  > div
  > a
  > div:nth-child(2) {
  font-family: "Prompt", sans-serif;
  font-size: 9px;
  font-weight: 800;
  letter-spacing: 1px;
  margin-left: 20px;
}

.content > .menu > .menu-container > .footer {
  display: flex;
  justify-content: flex-start;
}

.content > .menu > .menu-container > .footer > div {
  margin-right: 100px;
}

.content > .menu > .menu-container > .footer > div > div {
  font-size: 12px;
  font-family: "Prompt", sans-serif;
  font-weight: 800;
  letter-spacing: 1px;
}

.content > .menu > .menu-container > .footer > div > ul {
  list-style: none;
  margin-top: 20px;
  font-family: "Prompt", sans-serif;
  font-size: 14px;
}

.content > .menu > .menu-container > .footer > div > ul > li {
  cursor: pointer;
  margin: 5px 0px;
}

.content > .menu > .menu-container > .footer > div > ul > li:hover {
  font-weight: 500;
}

.content > .menu > .close-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content > .menu > .close-button > .material-icons-outlined {
  font-family: "Material Icons";
  font-size: 50px;
  padding: 30px;
  cursor: pointer;
}

.content > .menu > .close-button > .material-icons-outlined:hover {
  background-color: #e4e4e4;
}

.showMenu {
  animation-name: showMenu;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes showMenu {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.hideMenu {
  animation-name: hideMenu;
  animation-timing-function: ease-in-out;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes hideMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.discover-container {
  display: flex;
  flex-direction: column;
}

.discover-container > .wrapper {
  z-index: 4;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f0f2f3;
}

.showDiscover {
  animation-name: showDiscover;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes showDiscover {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.discover-container > div {
  display: flex;
  width: 100%;
}

.discover-container > div > a {
  width: 25%;
  height: 450px;
  text-decoration: none;
  color: #000000;
  border-right: 1px solid #b3b3b39f;
  border-bottom: 1px solid #b3b3b39f;
}

.discover-container > div > a > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.discover-container > div > a > div::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 0;
  transition: all 0.5s ease-out;
}

.discover-container > div:nth-child(1) > a:nth-child(1) > div:before {
  background-color: #5000d163;
}
.discover-container > div:nth-child(1) > a:nth-child(2) > div:before {
  background-color: #00350b79;
}
.discover-container > div:nth-child(1) > a:nth-child(3) > div:before {
  background-color: #20202081;
}
.discover-container > div:nth-child(1) > a:nth-child(4) > div:before {
  background-color: #0091b663;
}
.discover-container > div:nth-child(2) > a:nth-child(1) > div:before {
  background-color: #15690063;
}
.discover-container > div:nth-child(2) > a:nth-child(2) > div:before {
  background-color: #0085b963;
}
.discover-container > div:nth-child(2) > a:nth-child(3) > div:before {
  background-color: #00bd7463;
}
.discover-container > div:nth-child(2) > a:nth-child(4) > div:before {
  background-color: #d6000063;
}
.discover-container > div:nth-child(3) > a:nth-child(1) > div:before {
  background-color: #aebb0063;
}
.discover-container > div:nth-child(3) > a:nth-child(2) > div:before {
  background-color: #00799763;
}
.discover-container > div:nth-child(3) > a:nth-child(3) > div:before {
  background-color: #a0c40063;
}
.discover-container > div:nth-child(3) > a:nth-child(4) > div:before {
  background-color: #96000063;
}
.discover-container > div:nth-child(4) > a:nth-child(1) > div:before {
  background-color: #46002963;
}
.discover-container > div:nth-child(4) > a:nth-child(2) > div:before {
  background-color: #005baf63;
}
.discover-container > div:nth-child(4) > a:nth-child(3) > div:before {
  background-color: #47140063;
}
.discover-container > div:nth-child(4) > a:nth-child(4) > div:before {
  background-color: #00473563;
}
.discover-container > div:nth-child(5) > a:nth-child(1) > div:before {
  background-color: #cf990263;
}
.discover-container > div:nth-child(5) > a:nth-child(2) > div:before {
  background-color: #00394763;
}
.discover-container > div:nth-child(5) > a:nth-child(3) > div:before {
  background-color: #47000063;
}
.discover-container > div:nth-child(5) > a:nth-child(4) > div:before {
  background-color: #332b2b63;
}

.discover-container > div > a > div::after {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  font-size: 60px;
  opacity: 0;
  z-index: 3;
  transition: all 0.5s ease-out;
  color: white;
}

.discover-container > div:nth-child(1) > a:nth-child(1) > div:after {
  content: "01";
}
.discover-container > div:nth-child(1) > a:nth-child(2) > div:after {
  content: "02";
}
.discover-container > div:nth-child(1) > a:nth-child(3) > div:after {
  content: "03";
}
.discover-container > div:nth-child(1) > a:nth-child(4) > div:after {
  content: "04";
}
.discover-container > div:nth-child(2) > a:nth-child(1) > div:after {
  content: "05";
}
.discover-container > div:nth-child(2) > a:nth-child(2) > div:after {
  content: "06";
}
.discover-container > div:nth-child(2) > a:nth-child(3) > div:after {
  content: "07";
}
.discover-container > div:nth-child(2) > a:nth-child(4) > div:after {
  content: "08";
}
.discover-container > div:nth-child(3) > a:nth-child(1) > div:after {
  content: "09";
}
.discover-container > div:nth-child(3) > a:nth-child(2) > div:after {
  content: "10";
}
.discover-container > div:nth-child(3) > a:nth-child(3) > div:after {
  content: "11";
}
.discover-container > div:nth-child(3) > a:nth-child(4) > div:after {
  content: "12";
}
.discover-container > div:nth-child(4) > a:nth-child(1) > div:after {
  content: "13";
}
.discover-container > div:nth-child(4) > a:nth-child(2) > div:after {
  content: "14";
}
.discover-container > div:nth-child(4) > a:nth-child(3) > div:after {
  content: "15";
}
.discover-container > div:nth-child(4) > a:nth-child(4) > div:after {
  content: "16";
}
.discover-container > div:nth-child(5) > a:nth-child(1) > div:after {
  content: "17";
}
.discover-container > div:nth-child(5) > a:nth-child(2) > div:after {
  content: "18";
}
.discover-container > div:nth-child(5) > a:nth-child(3) > div:after {
  content: "19";
}
.discover-container > div:nth-child(5) > a:nth-child(4) > div:after {
  content: "20";
}

.discover-container > div > a > div:hover::before {
  width: 100%;
}

.discover-container > div > a > div:hover::after {
  opacity: 1;
}

.discover-container > div > a > div > .movie-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  position: relative;
}

.discover-container > div > a > div > .movie-image > .image-container {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.discover-container > div > a > div:hover > .movie-image > .image-container {
  height: 270px;
  width: 270px;
}

.discover-container > div > a > div > .movie-image > .image-container > img {
  width: 140%;
  transition: all 0.5s ease-in-out;
}

.discover-container
  > div
  > a
  > div:hover
  > .movie-image
  > .image-container
  > img {
  width: 120%;
}

.discover-container > div > a > div > .movie-content {
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

.discover-container > div > a > div > .movie-content > div > div:nth-child(1) {
  font-family: "Prompt", sans-serif;
  font-size: 8px;
  letter-spacing: 3px;
  font-weight: 800;
  position: relative;
}

.discover-container
  > div
  > a
  > div
  > .movie-content
  > div
  > div:nth-child(1)::before {
  content: "";
  position: absolute;
  left: -15%;
  top: 46%;
  width: 7px;
  height: 2px;
  background-color: #000000;
}

.discover-container > div > a > div > .movie-content > div > div:nth-child(2) {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  font-weight: 500;
  color: #181818;
}

.discover-container > div > a > div > .movie-content > .number {
  font-family: "Prompt", sans-serif;
  writing-mode: vertical-lr;
  font-size: 8px;
  font-weight: 800;
  color: #252525;
  position: relative;
}

.discover-container > div > a > div > .movie-content > .number::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 2px;
  height: 15px;
  background-color: #000000;
}
